| An error occured. Did you try searching for something that isn’t an image? Token supports most image types, but you can look 
a(href="http://www.graphicsmagick.org/formats.html") here 
| to see if your format is supported.
