/public/.sass-cache/
/public/stylesheets/style.css
/build/
/node_modules/
/src/build/
/src/test

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
