extends layout

block content
  div(ng-controller='Main')
    nav(class="navbar navbar-default")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            img(alt="Brand" src="/public/images/tokenlogo.png")
        form(class="navbar-form navbar-left", role="search", novalidate)
          .input-group
            input(type="text", class="form-control italic", placeholder="Add logo from URL", ng-model='url')
            span.input-group-btn
              button(type="button", class="btn btn-default search-glyph-button", ng-click='logoSearch(url)')
                span(class="glyphicon glyphicon-search")
        form(class="navbar-form navbar-left", novalidate)
          div(class="form-group italic")
            | Or choose file to upload:
            span(class="btn btn-default btn-file glyph-button upload-btn")
              span(class="glyphicon glyphicon-upload")
              input(type="file" file-model="logo")
    .container
      div(ng-switch='logos')
        .row.text-center(ng-switch-when='no search')
          include ./includes/landing.jade
        .row#match(ng-switch-when='none')
          include ./includes/uploaded-logo.jade
          div(class="col-xs-7 center-block")
            b No logos match the current input
        .row.text-center(ng-switch-when='error')
          include ./includes/upload-error.jade
        .row.text-center(ng-switch-when='searching')
          .center-block
            img(src="/public/images/spinner.gif")
        #logo-gallery(justified-gallery="logos" ng-switch-default)
          .row#match
            include ./includes/uploaded-logo.jade
            include ./includes/logo-details.jade
      .row#footer    
        div(class="col-sm-12 text-center footer")
          hr
          a(href="http://www.alex-charlton.com") Alexander 
          | and 
          a(href="http://www.marisarenaud.com") Marisa
          | , 2015
