- angular_cdn = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14";

doctype html
html
  head
    title Token: a reverse logo search
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='#{angular_cdn}/angular.min.js')
    script(src='#{angular_cdn}/angular-resource.min.js')
    script(src='#{angular_cdn}/angular-route.min.js')
    base(href='/')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js')
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(src='/public/javascripts/token.js')
  body(ng-app='token')
    block content