packages:
  yum:
    GraphicsMagick: []
    gcc: []
    gcc-c++: []
    glibc-devel: []
    libstdc++-devel: []
    make: []
    boost-devel: []
    libpng: []
  rubygems:
    compass: []

sources:
  /: https://s3-us-west-2.amazonaws.com/token-deps/opencv3.tar.gz
  /usr: https://s3-us-west-2.amazonaws.com/token-deps/mongo-driver.tar.gz

commands:
  link_compass:
    command: ln -s /opt/elasticbeanstalk/lib/ruby/bin/scss /opt/elasticbeanstalk/lib/ruby/bin/sass /opt/elasticbeanstalk/lib/ruby/bin/sass-convert /opt/elasticbeanstalk/lib/ruby/bin/compass /usr/bin