packages:
  yum:
    GraphicsMagick: []
    gcc: []
    gcc-c++: []
    glibc-devel: []
    libstdc++-devel: []
    make: []
    boost-devel: []
    libpng: []
  rubygems:
    compass: []

sources:
  /: https://s3-us-west-2.amazonaws.com/token-deps/opencv3.tar.gz
  /usr: https://s3-us-west-2.amazonaws.com/token-deps/mongo-driver.tar.gz
