packages:
  yum:
    GraphicsMagick: []
    gcc: []
    gcc-c++: []
    glibc-devel: []
    libstdc++-devel: []
    make: []
    #git: [] #
    #cmake: [] #
    #boost-devel: []
    #boost.x86_64: [] #
    boost-regex: []
    boost-system: []
    boost-thread: []
    libpng: []
    #libpng-devel.x86_64: [] #
  rubygems:
    compass: []

commands:
  01_install_opencv:
    command: tar -xzf ./aws-deps/opencv3.tar.gz -C /
    test: ./aws-deps/opencv-test

commands:
  02_install_mongo_client:
    command: tar -xzf ./aws-deps/mongo-driver.tar.gz -C /usr
    test: ./aws-deps/mongo-driver-test