
body {
    font-family: 'Lato', sans-serif;
}

//Navbar
.navbar {
    background-color:white;
}

.navbar-brand {
    height:100%;
    padding:0px;
    margin-top:8px;
    margin-bottom:8px;
    img {
	height:34px;
	padding-left:15px;
	padding-right:15px;
}
}

.navbar-default {
    border:none;
}
.navbar-form {
    border:none;
}

//Input Elements
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.form-control {
    border-radius:0px;
    border:none;
    background-color:$light;
    box-shadow:none;
    -webkit-box-shadow:none;
}

.form-control:focus
 {
    box-shadow:none;
    -webkit-box-shadow:none;
}


.glyph-button {
    color:$primary;
    box-shadow:none;
    -webkit-box-shadow:none;
    border-radius:0px;
    border:none;
    height:34px;
}

.search-glyph-button {
    color:$primary;
    box-shadow:none;
    -webkit-box-shadow:none;
    border-radius:0px;
    border:none;
    height:34px;
    background-color:$light;
    :hover, :focus, :active:focus {
	background-color:$light;
    }
}

.glyphicon {
    font-size:18px;
}

.btn:focus, .btn:active:focus, .btn-default:hover, .btn-default:active {
    outline: 0 none;
    box-shadow:none;
    -webkit-box-shadow:none;
}

.upload-btn:hover {
    background-color:white;
}

//Typography 
.italic {
    font-style:italic;
}

//Landing
ul.test-searches li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;

}

//Uploaded Logo
.upload {
    padding-top:15px;
}

.uploaded-img {
    margin: 0 auto;
    padding-top:5px;
    @extend .img-responsive;
    max-height: 150px;
    padding-bottom:20px;
}

//Matched Logo
.match {
    a {
	text-decoration:underline;
	color:$primary;
	font-size:12px;
    }
}

.match-img {
    margin: 0 auto;
    @extend .img-responsive;
    float:right;
}

.label-success {
    border:none;
    background-color:white;
    color:#5cb85c;
    font-weight:normal;
    border-radius:0px;
}

.label-default {
    border: none;
    background-color:white;
    color:#777;
    font-weight:normal;
    border-radius:0px;
}

.label-danger {
    border-radius:0px;
    font-size:16px;
}

ul.tags {
  display: inline;
  font-style:italic;
  font-size:small;
  margin: 0;
  padding: 0;
}

ul.tags li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;

}

//Gallery
#match {
  border-top: 1px solid $light;
  border-bottom: 1px solid $light;
  padding: 20px 0 30px;
}

.logo-row {
  padding: 10px 0;
}

.logo-row img {
  margin: 0;
  padding: 0;
}

//Active Result
.result-wrapper {
  float: left;
  cursor: pointer;
}

#bookmark {
  position: relative;
  top: -163px;
  left: 90px;
  width: 30px;
  z-index:1000;
}

//Footer
.footer {
    color:$dark;
    a {
	color:$dark;
}
    padding-bottom:20px;
}
